.root {
	-fx-background-color: green;
	
}

.view {
	-fx-background-color: green;
}

.pane {
	-fx-alignment: center;
	-fx-padding: 10.0px;
}

.player-pane {
	-fx-padding: 10px;
}

.card-pane {
	-fx-spacing: 20px;
	-fx-pref-height: 240px;
}

.small-card-pane {
	/*-fx-pref-height: 130px;*/

	-fx-border-color: black;
	-fx-border-width: 1px;
}

.card-button {
	/*
	-fx-text-fill: transparent; 
	-fx-pref-height: 255px;
	-fx-pref-width: 160px;
	
	
	-fx-pref-height: 232px;
	-fx-pref-width: 145px;
	*
	*/
	-fx-pref-height: 200px;
	-fx-pref-width: 125px;
	-fx-background-position: center;
	-fx-background-size: 95%;
	
	-fx-background-repeat: no-repeat;
	-fx-border-radius: 10;
  	-fx-background-radius: 10;
}

.card-button:hover {
	/*
	-fx-scale-x: 0.8;
	-fx-scale-y: 0.8;
	*/
	-fx-translate-y: 10px;
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}

.small-card {
	-fx-pref-height: 100px;
	-fx-pref-width: 62px;
}

.nigiri {
	-fx-background-image: url("squid_nigiri.png");
}

.maki {
	-fx-background-image: url("maki_roll1.jpg");
}

.sashimi {
	-fx-background-image: url("sashimi.png");
}

.wasabi {
	-fx-background-image: url("wasabi.jpg");
}

.pudding {
	-fx-background-image: url("pudding.jpg");
}

.dumpling {
	-fx-background-image: url("dumpling.jpg");
}

.tempura {
	-fx-background-image: url("tempura.jpg");
}

.chopsticks {
	-fx-background-image: url("chopsticks.jpg");
}

.single-player-setup-view .label {
	-fx-font-weight: bold;
}

.title-label {
	-fx-font-size: 20.0pt;
	-fx-font-weight: bold; 
}

.start-view .label {
	-fx-padding: 0.0 0.0 0.0 100.0px ;
	-fx-text-alignment: center; 
}

.score-pane {
	-fx-alignment: center;
}

.score-pane .label {
	-fx-padding: 10.0px;
	-fx-text-alignment: center;
}

.score-pane .heading-label {
	-fx-font-weight: bold;
	-fx-padding: 5.0px;
}